@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');


body {
  font-family: 'Ubuntu', sans-serif;
}

.container {
  height: 100vh;
}

.flip-card-outer {
  width: 380px;
  height: 340px;
  margin: 5%;

  &.focus-trigger:focus {
    outline: 5px solid greenyellow;
    outline-offset: 5px;
  }

  .flip-card-inner {
    transform-style: preserve-3d;
    transition: .5s linear .1s;
    position: relative;
    width: inherit;
    height: inherit;

    &.hover-trigger:hover {
      transform: rotateX(180deg);
    }

    &.showBack {
      transform: rotateX(180deg);
    }
  
    .card {
      backface-visibility: hidden;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
  
      &.front {
        transform: rotateX(0);
        background-color: #2d2d2d;
        color: #fff;
      }
  
      &.back {
        transform: rotateX(180deg);
        background-color: #fff;
        color: #2d2d2d;
      }
    }
  }
}
.card-body img{
  max-width: 380px;
  max-height: 310px;
}
#back-conatiner{
  flex-direction: column;
}
#secret-grid-container{
  display: grid;
  overflow: scroll;
  height: 60%;
}
