@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Carattere&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

*{
  font-size: 18px;
}
.container {
  height: 100vh;
}
.flip-card-outer {
  width: 360px;
  height: 340px;
  margin-top: 5%;
  margin-bottom: 7%;

  &.focus-trigger:focus {
    outline: 5px solid greenyellow;
    outline-offset: 5px;
  }

  .flip-card-inner {
    transform-style: preserve-3d;
    transition: .5s linear .1s;
    position: relative;
    width: inherit;
    height: inherit;

    &.hover-trigger:hover {
      transform: rotateX(180deg);
    }

    &.showBack {
      transform: rotateX(180deg);
    }
  
    .card {
      backface-visibility: hidden;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
  
      &.front {
        transform: rotateX(0);
        background-color: #2d2d2d;
        color: #fff;
      }
  
      &.back {
        transform: rotateX(180deg);
        background-color: #fff;
        color: #2d2d2d;
      }
    }
  }
}
.card-body img{
  max-width: 340px;
  max-height: 310px;
}
#full-back-container{
  background: #2d2d2d;
  color: white;
}
#back-conatiner{
  flex-direction: column;
  border: 2px double white;
  margin: 2%;
  padding-bottom: -50px;
}
#secret-grid-container{
  display: grid;
  overflow: scroll;
  height: 200px;
  font-family: 'Shadows Into Light', cursive;
}
#secret-text{
  font-family: 'Carattere', cursive;
}
#secret-grid-container p{
  font-size: .8rem;
}
#enlarge-this{
  font-size: 3.9rem
}
#individual-secret{
  margin: 0 20px;
}
@media only screen and (min-width: 490px) {
  #individual-secret{
    margin: 0 auto;
  }
  .flip-card-outer{
    margin: 30px;
    width: 500px;
  }
  .card-body img{
    max-width: 500px;
  }
}
