@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

*{
    font-size: 18px;
}
.SecretsComponent{
    color: white; 
    font-family: 'Shadows Into Light', cursive;
    display: flex;
    flex-direction: column;
}
@media only screen and (min-width: 490px) {
    #secrets-container{
        display: flex;
        flex-wrap: wrap;
    }
}
